<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
        <link rel="stylesheet" type="text/css" media="print" href="@Url.Content("~/Content/print.css")" />
    	<!-- [if IE]> <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ie.css")" /> <![endif] -->
    	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/screen.css")" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/site.css")" />
    	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")"></script>
	    
</head>
<body>
    <div class="container">
        <div id="header" class="span-23">
            <div id="title" class="span-23">
                <h1>KanbanBoards - share you boards</h1>
                <hr />
                <h2 class="alt">
                A place to get inspired by and share your boards with others. </h2>
            </div>
        </div>
        <div id="menucontainer" class="span-20">
            <ul id="menu">
                <li>@Html.ActionLink("Home", "Index", "KanbanBoard")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
            </ul>
        </div>        
            <div id="logindisplay" class="span-2 append-1">
                @Html.Partial("_LogOnPartial")
            </div>
        <div id="main" class="span-23 append-top">
            @RenderBody()            
            <hr />
        </div>
        <div class="span-23">
            <p id="footer">
                <a href="http://www.marcusoft.net">Kanban Boards is brought to you by marcusoft.net</a>
            </p>
        </div>
    </div>
</body>
</html>
